:root {
    /* --primary-color-1:#285430;
    --secondary-color:#883ff9; */
    --secondary-color:#367a43;
    --primary-color-1:#309f39;
    /* --secondary-color:#285430;
    --primary-color-1:#37b141; */
  }